---
http_interactions:
- request:
    method: get
    uri: https://html.duckduckgo.com/html?b=&k1=-1&kf=-1&kh=1&kp=1&q=FG0326
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Duckduckgo-Locale:
      - en_US
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n\n<!--[if
        IE 6]><html class=\"ie6\" xmlns=\"http://www.w3.org/1999/xhtml\"><![endif]-->\n<!--[if
        IE 7]><html class=\"lt-ie8 lt-ie9\" xmlns=\"http://www.w3.org/1999/xhtml\"><![endif]-->\n<!--[if
        IE 8]><html class=\"lt-ie9\" xmlns=\"http://www.w3.org/1999/xhtml\"><![endif]-->\n<!--[if
        gt IE 8]><!--><html xmlns=\"http://www.w3.org/1999/xhtml\"><!--<![endif]-->\n<head>\n
        \ <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\" />\n
        \ <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maximum-scale=3.0, user-scalable=1\" />\n  <meta name=\"referrer\" content=\"origin\"
        />\n  <meta name=\"HandheldFriendly\" content=\"true\" />\n  <meta name=\"robots\"
        content=\"noindex, nofollow\" />\n  <title>FG0326 at DuckDuckGo</title>\n
        \ <link title=\"DuckDuckGo (HTML)\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"//duckduckgo.com/opensearch_html_v2.xml\" />\n  <link
        href=\"//duckduckgo.com/favicon.ico\" rel=\"shortcut icon\" />\n  <link rel=\"icon\"
        href=\"//duckduckgo.com/favicon.ico\" type=\"image/x-icon\" />\n  <link id=\"icon60\"
        rel=\"apple-touch-icon\" href=\"//duckduckgo.com/assets/icons/meta/DDG-iOS-icon_60x60.png?v=2\"/>\n
        \ <link id=\"icon76\" rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"//duckduckgo.com/assets/icons/meta/DDG-iOS-icon_76x76.png?v=2\"/>\n
        \ <link id=\"icon120\" rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"//duckduckgo.com/assets/icons/meta/DDG-iOS-icon_120x120.png?v=2\"/>\n
        \ <link id=\"icon152\" rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"//duckduckgo.com/assets/icons/meta/DDG-iOS-icon_152x152.png?v=2\"/>\n
        \ <link rel=\"image_src\" href=\"//duckduckgo.com/assets/icons/meta/DDG-icon_256x256.png\">\n
        \ <link rel=\"stylesheet\" media=\"handheld, all\" href=\"//duckduckgo.com/dist/h.238c80a7d9b754cfcdd5.css\"
        type=\"text/css\"/>\n</head>\n\n<body class=\"body--html\">\n  <a name=\"top\"
        id=\"top\"></a>\n\n  <form action=\"/html/\" method=\"post\">\n    <input
        type=\"text\" name=\"state_hidden\" id=\"state_hidden\" />\n  </form>\n\n
        \ <div>\n    <div class=\"site-wrapper-border\"></div>\n\n    <div id=\"header\"
        class=\"header cw header--html\">\n      <a title=\"DuckDuckGo\" href=\"/html/\"
        class=\"header__logo-wrap\"></a>\n\n      <form name=\"x\" class=\"header__form\"
        action=\"/html/\" method=\"post\">\n        <div class=\"search search--header\">\n
        \         <input name=\"q\" autocomplete=\"off\" class=\"search__input\" id=\"search_form_input_homepage\"
        type=\"text\" value=\"FG0326\" />\n          <input name=\"b\" id=\"search_button_homepage\"
        class=\"search__button search__button--html\" value=\"\" title=\"Search\"
        alt=\"Search\" type=\"submit\" />\n        </div>\n\n        \n          <input
        name=\"k1\" value=\"-1\" type=\"hidden\">\n        \n        \n        \n
        \       \n\n        <div class=\"frm__select\">\n          <select name=\"kl\">\n
        \           \n              <option value=\"\" >All Regions</option>\n            \n
        \             <option value=\"ar-es\" >Argentina</option>\n            \n
        \             <option value=\"au-en\" >Australia</option>\n            \n
        \             <option value=\"at-de\" >Austria</option>\n            \n              <option
        value=\"be-fr\" >Belgium (fr)</option>\n            \n              <option
        value=\"be-nl\" >Belgium (nl)</option>\n            \n              <option
        value=\"br[...]
